.tarjeta.color-primario 
    background-color: #d8ecff9c
    //#7cc4ff48

//tarjeta numerada con fondo trasparente
.transparent1
  border-top: 2px solid #afafaf
  //border-bottom: 2px solid #afafaf
  border-radius: 0 !important

.transparent2
  border-top: 2px solid #afafaf
  border-bottom: 2px solid #afafaf
  border-radius: 0 !important

.tarjeta--palida
  background-color: #d9a2712a

.tarjeta--azul 
  background-color: #d8ecffb0

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #6595bf
  color: #fff


.linea-tiempo-d__item__content 
    background-color: #d9a2711e

.custom_bg
	background: linear-gradient(180deg, rgba(217,161,113,1) 0%, rgba(166,109,88,1) 100%)


.tabs-a__tab
  background-color: #d9a2716e

.tabs-a__tab:hover
  background-color: #A66D58 !important


.tabs-a.color-secundario .tabs-a__tab__selected 
  //color: #fff
  background-color: #A66D58 !important


.tabs-a.color-secundario .tabs-a__tab__selected:before 
  background-color: #A66D58 !important