.tarjeta.color-primario 
    background-color: #7cc4ff48

//tarjeta numerada con fondo trasparente
.transparent1
  border-top: 2px solid #afafaf
  //border-bottom: 2px solid #afafaf
  border-radius: 0 !important

.transparent2
  border-top: 2px solid #afafaf
  border-bottom: 2px solid #afafaf
  border-radius: 0 !important